<% include ../partials/header %>

<div class="row justify-content-center">
  <div class="col-md-9 col-sm-12">
    <h1 class="h3 mb-3 font-weight-normal text-center">Edit
      <%= campground.name %>
    </h1>
    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
      <div class="form-group">
        <label for="name">Campground's name</label>
        <input class="form-control" type="text" name="name" id="name" value="<%= campground.name %>">
      </div>
      <div class="form-group">
        <label for="image">Image link</label>
        <input class="form-control" type="text" name="image" id="image" value="<%= campground.image %>">
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input class="form-control" type="text" name="location" id="location" value="<%= campground.location %>">
      </div>
      <label for="price">Cost</label>
      <div class="form-group input-group">
        <input class="form-control" type="number" name="price" value="<%= campground.price %>" min="0.00" step="0.01"
          max="1000.00" id="price" required>
        <div class="input-group-append">
          <span class="input-group-text">$/night</span>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Edit your impressions</label>
        <textarea class="form-control review-editor" type="text" name="description" rows="10" id="description" required><%= campground.description %></textarea>
      </div>
      <button class="btn btn-lg btn-outline-warning btn-block">Update</button>
    </form>
    <div class="mt-3">
      <a class="text-secondary" href="/campgrounds/<%= campground._id %>">Go Back</a>
    </div>
  </div>
</div>

<% include ../partials/footer %>