<% include ../partials/header %>

<div class="row">
  <div class="col-md-12">
    <h1 class="display-4 text-center profile-header">
      <%= user.username %>'s Profile
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card mb-3">
      <% if (user.avatar) { %>
      <img class="card-img-top" src="<%= user.avatar %>" alt="User profile image">
      <% } else { %>
      <div id="user-icon">
        <i class="fas fa-user user-icon"></i>
      </div>
      <% } %>

      <div class="card-body">
        <p class="card-title lead">
          <%= `${user.firstName} ${user.lastName}` %>
        </p>
        <div class="card-text">
          <p><i class="fas fa-envelope"></i>
            <a href="mailto:<%= user.email %>">
              <%= user.email %></a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
      <% campgrounds.forEach(campground => { %>
      <div class="col-md-4">
        <div class="card mb-3">
          <img class="card-img-top" src="<%= campground.image %>" alt="Random campground image">
          <div class="card-body text-center">
            <a class="text-info" href="/campgrounds/<%= campground.id %>">
              <%= campground.name %></a>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</div>

<% include ../partials/footer %>